@use '../../../../styles/00-settings/variables' as v;
@use '../../../../styles/01-tools/mixins' as m;

// --------------------------------------------------------------------------
// FORMULARIO REGISTRO
// --------------------------------------------------------------------------
.register {
  display: flex;
  flex-direction: column;
  padding: v.$spacing-4 3.375rem;
  gap: v.$spacing-4;

  @include m.respond-down(md) {
    padding: v.$spacing-3 v.$spacing-3;
    gap: v.$spacing-3;
  }

  @include m.respond-down(sm) {
    padding: v.$spacing-3 v.$spacing-2;
    gap: v.$spacing-2;
  }

  // --------------------------------------------------------------------------
  // SEPARADOR
  // --------------------------------------------------------------------------
  &__separator {
    border: none;
    height: v.$border-thin;
    background-color: var(--color-text-primary);
    opacity: 0.2;
    margin: 0;
  }

  // --------------------------------------------------------------------------
  // BOTÓN ACCIÓN
  // --------------------------------------------------------------------------
  &__action {
    align-self: center;
  }
}
