@use '../../../../styles/00-settings/variables' as v;

// --------------------------------------------------------------------------
// CONTROLES DE CONSENTIMIENTO
// --------------------------------------------------------------------------
.cookies__controls {
  display: flex;
  flex-wrap: wrap;
  gap: v.$spacing-1;
  margin: 0;
  padding: 0;
  list-style: none;
}

